
.page-template-page-review-php{
	background-color: #e7e7e7;
		.filter,.sort {
		
		display: inline-block;
		font-size: 12px;
		padding: 12px 10px;
		font-weight: bolder;
		background: none;
		color: black;
		margin-left: -1px;
		/* border: 1px solid black; */
		margin-bottom: 5px;
		&:hover{
			color: $primary-color;
		}
		}
		.is-checked{
			background: $primary-color;
			color: white;
		
		}
		.review{
		.sort-author,.sort-rating,.sort-vintage,.sort-wine {display: none;}
		padding: $gap $gap $gap $gap !important;
		margin: 0px 0px 0px 0px !important;
		.inner{
		background: white;
		padding: $gap $gap/2 !important;
		margin: 0px 0px 0px 0px !important;
		}
		.icon {
			height: 100px;
			text-align: right;
			.review-icon{
				content: '\f106';
				font-family: "Genericons";
				color: #e7e7e7;
				font-size: 80px;
				line-height: 1;
				
			}		
		}
		.meta{
				
			
			font-size: 12px;
			font-weight: bold;
			margin-bottom: $gap;
			span{
				color: $primary-color;
				&+.to-product{
					font-size: 12px;
					font-weight: bold;
					margin-bottom: $gap;
					color: black;}
				}
		}
		.review-text * {
			font-size: 12px !important;
		}
	}
	
	
	
	
	}