$accent-color:black;
@import "settings";
@import "foundation";
$gap:20px;

@import "customWC";
@import "reviews";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body {
	background-color: white;
}

* {
	font-size: 18px;
}
strong {
	font-size: 18px;
}
//Nav

.logotype{

	width: 50%;
	margin: $gap 25%;
}


#floating {
	/* box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15); */
	display: none;
	@media only screen and (max-width: 40.063em) {
		display: none !important;
	}
	
	margin-top:$gap;
	padding: $gap $gap*2;
	position: fixed;
	width: $row-width/4;
	background: white;
	margin-left: auto;
	z-index: 99;
	@media only screen and (max-width: $row-width) {
		width: 25%;
	}
	
	ul {
		margin-left: 0;
		padding-left: 0;
		padding-top: $gap*2;
		width: 100%;
		list-style: none;
		li {
			hr{
				margin: $gap/4 0px $gap/2;
				width: 10%;
				@include single-transition(width, 1s);
				}
			&:hover hr{
						width: 100%;
						@include single-transition(width, 1s);
						}
			&.active hr {
				width: 100%;
			}
			
			a {
				text-transform: uppercase;
				font-size: 18px;
				color: black;
				&:hover {color:#700032;}
			
			}
			
		}
	}
}

//page 


header.parralax {
	
	position: relative;
	height: 250px;
	width: 100%;
	padding-top : 180px;
	//background parralax
	background-position: center center;
	background-size: 100% ;
	background-repeat: no-repeat;	
	&:after{
		position: absolute;
		content:"";
		top:0;
		left:0;
		width:100%;
		height:100%;
		opacity:0.5;
		background-color: black;
		z-index: 0;
	}
	h1 {
	text-transform: uppercase;
	position: relative;
	z-index: 99;
	letter-spacing: 3px;
	}
	
}

// Footer
.home{
	/* border: 10px solid black; */
}

.homepage-logo{
	display: none;
}
.homepage-logotype{
width: 70%;
margin: 72px 15%;
}
.window-height{
	height: 100vh;
	overflow: hidden;
}

#footer {
	margin-top: $gap*3;
	padding-top: $gap*3;
	padding-bottom: $gap*3;
	background-color: black;
	
	position: relative;
	z-index: 1;
	.logotype{
		height: auto;
		width: 10%;
		margin: $gap 45%;
		@media only screen and (max-width: $row-width) {
		width: 20%;
		margin: $gap 40%;
	}

	}
	.widget_text p {
		color: white;
		font-size: 14px;
		&>b {
			font-size: 16px;
		}
	}
}

// About

.main-row {
	padding-top: 2*$gap;
} 
.side-content{
	margin-top: 1em;
	
	img {
		margin-bottom: $gap;
	}
	.twitter:before {
		content: '\f202';
		color: $primary-color;
	}
	ul,li {
		list-style: none;
		font-size: 14px;
	}
}

H3 {
	color: black;
	text-transform: uppercase;
	font-weight: 500;
}
